<%- include('header') -%>
    
    <div id="container">
        <p><%- room.description %></p>
    </div>
    <a href="/story/<%= room.story_id %>/<%= room.id %>/0/edit" id="edit">edit</a>

    <div id="spacer_to_bottom"></div>

    <div id="answer_container">
        <% answers.forEach(function(answer) { %>
        <% if (answer.next_room != 0){ %>
        <!-- show normal answer link to next room -->
        <a href="/story/<%= room.story_id %>/<%= answer.next_room %>" class="button_answer"><%= answer.answer %></a>
        <% }else { %> 
        <!-- show link to create new room -->
        <a href="/story/<%= room.story_id %>/<%= room.id %>/<%= answer.id %>/new" class="button_answer"><%= answer.answer %></a>
        <% }}); %>
        
    </div>


<%- include('footer') -%>

