<%- include('header') -%>

<div class="story_container">
  <form id="create_room" method="POST" action="/insertroom">
    <input type="hidden" name="story_id" value="<%- data.story_id %>">
    <input type="hidden" name="room_id" value="<%- data.room_id %>">
    <input type="hidden" name="depth" value="<%- data.depth %>">
    <input type="hidden" name="answer_id" value="<%- data.answer_id %>">
    <textarea placeholder="Enter your description" rows="10" cols="40" name="description"></textarea>
    <br>
    <input placeholder="Enter first answer" class="input_answer" type="text" name="answer1" value="">
    <input placeholder="Enter second answer" class="input_answer" type="text" name="answer2" value="">
    <br>
    <input class="button_answer" type="submit" value="Submit">
  </form>
</div>

<%- include('footer') -%>