<%- include('header') -%>
    <% stories.forEach(function(story) { %>
    <div class="story_container">
      <h2><%= story.title %></h2>
      <p><%= story.description %></p>
      <a href="/story/<%= story.id %>" class="button_answer">Start <%= story.title %></a>
    </div>
    <% }); %>

<%- include('footer') -%>

