<%- include('header') -%>

    <%= story.story_id %>
    <div class="story_container">
      <h2><%= story.title %></h2>
      <p><%- story.description %></p>
      <p>Language: <%= story.language %><br>
        Rating: <%= story.rating %><br>
      </p>
    </div>
    <a href="/story/<%= story.id %>/<%= story.first_room %>" class="button_answer">Start <%= story.title %></a>

<%- include('footer') -%>

