<%- include('header') -%>

<div id="container">
  <form id="create_room" method="POST" action="/insertstory">
    <input placeholder="Enter the title of the adventure" class="" type="text" name="title" value="">

    <fieldset>
        <legend>Select the language</legend>

        <select id="language" name="language">
            <% languages.forEach(function(language) { %>
                <option value="<%= language.id %>"><%= language.language %></option>
            <% }); %>
        </select>
 
        <legend>Select the genre</legend>

        <select id="genre" name="genre">
            <% genres.forEach(function(genre) { %>
                <option value="<%= genre.id %>"><%= genre.genre %></option>
            <% }); %>
        </select>
    </fieldset>
    
    <br/>
    <fieldset>
    <legend>Select availability of the adventure</legend>
        <input type="radio" id="private" name="access" value="0" checked />
        <label for="public">Keep my adventure private for now (only I can read and edit)</label>
        <br/>
        <input type="radio" id="public" name="access"  value="1" />
        <label for="private">Make the adventure public (everybody can read and edit)</label>
    </fieldset>
    <input class="button_answer" type="submit" value="Continue">
  </form>
</div>

<%- include('footer') -%>